*
{
  background-image: url(https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-8392.jpg?w=996&t=st=1721593572~exp=1721594172~hmac=2be62d650d7cec331b0acec440591a056de7519bfd87ad8e7b7266983b849dbd);
  background-repeat: no-repeat;
  background-size:110%;
  background-attachment: fixed;
}